.perfil-contenedor{
    position: relative;
    top: 3rem;
    margin: 3%;
    border: solid 2px #1b1a1a;
    border-radius: 7px;
    padding: 10% 20%;
}

.cuenta, .afiliacion{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

footer{
    margin-top: 15%;
}

.titulo{
    font-size: 45px;
}

.tittle-count{
    position: relative;
    bottom: 5rem;
}

.data{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.data-count{
    position: relative;
    bottom: 3rem;
}

.data-af{
    position: relative;
    top: 2.5rem;
}

.data-count,.data-af{
    right: 12rem;
}

.txt{
    font-size: 25px;
}